body {
    margin: 0;
}

header {
    background-color: black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 70%;
    margin: auto;
}

.danhmuc {
    display: flex;
        align-items: center;
        gap: 20px;
    padding: 10px 0;
}

.logo {
    width: 15%;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: #9b9b9b;
    font-size: 16px;
    font-family: "SFProDisplay", Arial, sans-serif;
}
button:hover{
    cursor: pointer;
}
a:hover {
    color: orange;
}

.chucnang {
    display: flex;
    align-items: center;
    gap: 20px;
}

.muagoi {
    background-color: orangered;
    border: none;
    color: white;
    padding: 10px 20px;
    width: 100px;
    border-radius: 10px;
}
.muagoi:hover{
    background-color: orange;
}
.dangnhap {
    background-color: black;
    color: white;
    border: none;
    width: 100px;
}
.dangnhap:hover{
    color: orangered;
}
main {
    background-color: #131314;
    color: white;
    width: 100%;
    /* height: 1000px; */
}
.poster {
    display: flex;
    justify-content: center;
}
.quangcao {
    display: flex;
    justify-content: center;
}
.quangcao2 {
    display: flex;
    justify-content: center;
    height: 110px;
}

.container {
    width: 70%;
    background-color: black;
    /* height: 1000px; */
    margin: auto;
}

.banner {
    width: 98%;
}

.qc {
    margin-top: 10px;
    width: 98%;
    border-radius: 10px;
}
.theloai{
    margin-top: 15px;
    margin-bottom: 15px;
}
.theloai-header{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.tentheloai{
    font-family: "SFProDisplay",Arial,sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.danhsach {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.tenfilm{
    font-size: larger;
}
.logofilm{
    width: 10%;
    height: 10%;
}
.phim {
    width: 19%;
    height: 100%;
}

.phim img {
    width: 100%;
}
.thongtin{
    display: flex;
    width: 70%;
    margin: auto;
}
.nhanhieu{
    width: 20px;
}
.chungchi{
    padding:10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:250px;
}
d:hover{
    color: orangered;
}
.tin{
    color: white;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.dichvu{
    color: white;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.quydinh{
    color: white;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    width: 100%;
    height: 60vh;
    background-color: #131314;
}
.footer-container{
    width: 70%;
    margin: auto;
    background-color: #131314;
    display: flex;
    height: 50%;
    padding-top: 15px;
    justify-content: space-between;
}
.footer-anh{
    width: 110px;
    height: 30px;
    margin: 10px;
}
.footerconten{
    margin-top: 10px;
    padding: 10px;
}
.footer-the{
    margin: 10px 0px;
    text-align: center;
}
.footer-title{
    color: white;
    text-align: center;
}
.infofpt{
    color: white;
    margin: 10px 10px;
}
.footer-theinfo{
    margin: 10px 0px;
}