body{
    background-color: #2F2C38;
    color: white;
}
.danh-sach-muc{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}
.lien-ket-muc{
    text-decoration: none;
    color: #D8D8D0;
    font-weight: bold;
}
header{
    display: flex;
    justify-content: space-between;
}
.muc{
    padding: 10px 15px;
    border-radius: 25px;
}
.muc:hover{
    background-color:gray;
}
.logo{
    width: 10%;
} 

.avata{
    /* width: 10%;
    border-radius: 25px; */
    padding: 0 0 0 50px;
}
.dang-chon{
    background-color: #4E4B52;
}
.banner{
    background-color: aliceblue;
    width: 95%;
    /* height: 40vh; */
    margin: 20px auto;
    border-radius: 20px;
}
.banner-anh{
    width: 100%;
    border-radius: 20px;
}
.danh-sach-the-loai{
    width: 95%;
    height: 20vh;
    margin-top: 20px auto;
}
.phim-poster{
    width: 24%;
    height: 20vh;
    border-radius: ;
    background-color: aliceblue;
}
.phim{
    display: flex;
    justify-content: space-between;
}
.danh-sach-nhan-vat{
    display: flex;
    justify-content: space-between;
}
.nhan-vat{

}